.html {
    min-height: 100%;
    position: relative;
    padding-bottom: 4rem;
}

.gold{color:#e2ad1b;}
section{border-top:8px solid #fec424;}
hr{border-top:2px solid #fec424}
.cont-form{width: 75%;border-right: 1px solid #ccc;}
.item-form{
  position: relative;
  border: 2px solid #e2ad1b;
  margin-top: 1.5rem;
}
form label{
  position: absolute;
  top: -25px;
  left: -2px;
  padding-bottom: 3px;
  font-size: 14px;
}
.listaPortaP li{
  font-size: 14px;
  font-weight: 600;
}
.listaPortaP li span{
  font-weight: 400;
}

/* ============== estilos tabla ==================*/
table thead tr{background:#e2ad1b;color:#fff;}
.tabla tbody tr td:first-child{cursor:pointer;}
.tabla tbody tr:hover{box-shadow: 1px 0 0 2px gold;}
.dataTables_filter{display: flex;justify-content: end;margin-bottom:10px;}
.dataTables_filter label input{margin-left: 1rem;padding:.25rem .75rem;}
.dataTables_paginate{display: flex;justify-content: space-between;margin-top: 1rem;}
.dataTables_paginate a{
  border: 1px solid;
  border-radius: 4px;
  text-decoration: none;
  padding:2px 10px;
}
.dataTables_paginate span a{
  border-radius: 0;
}
.dataTables_paginate span a:first-child{border-radius: 4px 0 0 4px;}
.dataTables_paginate span a:last-child{border-radius: 0 4px 4px 0;}
table tbody tr td input[type=range]{width: 6rem;}

.cont-tabla{border-right: 2px solid darkred}

.btn-tempo{
  width: 3rem;
}

.footer {
    padding: .75rem;
    position: absolute;
    bottom: 0;
    width: 100%;
}


.bienvenida{position: relative;}
.btn-cont-playing{
  position: absolute;
  top: -20px;
  right: 0;
}
.mostrar{
  transition: .5s;
  transform: rotate(180deg);
}
.ocultar{
  transition: .5s;
  transform:rotate(0deg);
}

/*============== estilos para arrastrar ==================== */

table.listaDia {border-collapse: collapse; margin: 20px; }
table.listaDia tbody tr:first-child {
  border-bottom: 4px double darkred;
}
table.listaDia th, td {padding: 10px; text-align: left; }
table.listaDia tr { cursor: grab; background-color: white; }
table.listaDia /* Estilo para cuando la fila es arrastrada */
table.listaDia tr.dragging { opacity: 0.5; background-color: #f0f0f0; }
table.listaDia /* Estilo para resaltar destino */
table.listaDia tr.over { border: 2px dashed #000; }



@media (max-width: 990px){
  .play-btn, .tap-btn{
    width: 13% !important;
  }
}

@media (max-width: 576px){
  .controls{
    justify-content: space-around !important;
    flex-wrap: wrap;
  }
  .controls label{
    width: 50%;
    margin-bottom: 1rem;
  }
  .controls .cont-controls{
    width: 80%;
    margin-bottom: 1rem;
  }
  .play-btn, .tap-btn{
    width: 45% !important;
  }
}