@-webkit-keyframes pulse {
    0% {
      -webkit-transform: scaleX(1);
      transform: scaleX(1)
    }
  
    50% {
      -webkit-transform: scale3d(1.05, 1.05, 1.05);
      transform: scale3d(1.05, 1.05, 1.05)
    }
  
    to {
      -webkit-transform: scaleX(1);
      transform: scaleX(1)
    }
  }



  @keyframes pulse {
    0% {
      -webkit-transform: scaleX(1);
      transform: scaleX(1)
    }
  
    50% {
      -webkit-transform: scale3d(1.05, 1.05, 1.05);
      transform: scale3d(1.05, 1.05, 1.05)
    }
  
    to {
      -webkit-transform: scaleX(1);
      transform: scaleX(1)
    }
  }


  .pulse {
    -webkit-animation-name: pulse;
    animation-name: pulse
  }


  .animated.infinite {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite
  }


  .animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
  }

  .modal.animated {
	animation-duration: 0.35s !important;
}


.validandoDatos {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    color: white;
    background: #000;
    opacity: 0.75;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    left: 0;
    z-index: 99999;
    transition: all 0.3s ease-in-out;
    text-align: center;
  }



  .lds-grid {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  
  .lds-grid div {
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #fff;
    animation: lds-grid 1.2s linear infinite;
  }
  
  .lds-grid div:nth-child(1) {
    top: 8px;
    left: 8px;
    animation-delay: 0s;
  }
  
  .lds-grid div:nth-child(2) {
    top: 8px;
    left: 32px;
    animation-delay: -0.4s;
  }
  
  .lds-grid div:nth-child(3) {
    top: 8px;
    left: 56px;
    animation-delay: -0.8s;
  }
  
  .lds-grid div:nth-child(4) {
    top: 32px;
    left: 8px;
    animation-delay: -0.4s;
  }
  
  .lds-grid div:nth-child(5) {
    top: 32px;
    left: 32px;
    animation-delay: -0.8s;
  }
  
  .lds-grid div:nth-child(6) {
    top: 32px;
    left: 56px;
    animation-delay: -1.2s;
  }
  
  .lds-grid div:nth-child(7) {
    top: 56px;
    left: 8px;
    animation-delay: -0.8s;
  }
  
  .lds-grid div:nth-child(8) {
    top: 56px;
    left: 32px;
    animation-delay: -1.2s;
  }
  
  .lds-grid div:nth-child(9) {
    top: 56px;
    left: 56px;
    animation-delay: -1.6s;
  }
  
  @keyframes lds-grid {
  
    0%,
    100% {
      opacity: 1;
    }
  
    50% {
      opacity: 0.5;
    }
  }